### JetBrains ###
out/
.idea_modules/
.idea/
*.iml
*.ipr
*.iws

### Linux ###
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

### macOS ###
Icon
Network Trash Folder
Temporary Items
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

### VisualStudioCode ###
.vscode/

### Windows ###
$RECYCLE.BIN/
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
