### JetBrains ###
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
out/

### Linux ###
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

### macOS ###
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

### SBT ###
.cache
.history
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/
src_managed/
target/

### Scala ###
*.class
*.log

### VisualStudioCode ###
.vscode/

### Windows ###
$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable
